#contact {
    form {
        display: flex;
        flex-flow: column;
        button {
            background-color: $orange;
            border: 0;
            border-radius: 6px;
            color: $white;
            height: 30px;
            margin-top: 10px;
            width: 100%;
        }
        input {
            height: 25px;
            margin-bottom: 0 auto 15px auto;
            width: 100%;
        }
        textarea {
            overflow-y: scroll;
            width: 100%;
        }
    }
    p {
        color: $darkblue;
    }
}

@media screen and (min-width:552px) {
    #contact {
        form {
            button,
            input,
            textarea {
                width: 80%;
            }
        }
    }
}