#crew {
	h2 {
		text-align: center;
	}
	p {
		color: $dgrey;
	}
	.effect6 {
		position: relative;
		/*  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			top: 47%;
			bottom: 0;
			left: 5px;
			right: 15px;
			border-radius: 100px / 10px;
		}
	}
	.image {
		float: left;
		padding-right: 20px;
		padding-bottom: 10px;
		height: 170px;
		width: 170px;
		overflow: hidden;
		display: block;
		figure {
			margin: 0;
			padding: 20px;
			img {
				display: block;
				width: 100%;
				height: auto;
				border-radius: 50%;
				margin: 0;
			}
		}
	}
	.profile-block {
		background-color: lighten( $grey, 19%);
		border-radius: 10px;
		min-height: 170px;
		margin: 40px auto;
		padding: 25px;
		.name {
			h3 {
				text-align: center;
			}
		}
	}
	.row {
		margin-bottom: 20px;
	}
}
