html,
body {
  height: 100%;
}
/* Base Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (min-width: 768px) { width: 750px; }
  @media only screen and (min-width: 992px) { width: 970px; }
  @media only screen and (min-width: 1200px) { width: 1200px; }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Resetting Box Model */
.row,
.column {
  box-sizing: border-box;
  margin-bottom: 10px;
}
.row::before,
.row::after {
  content: '';
  display: table;
}

/* Clearing Floats */
.row:after {
  clear: both;
}
/* Grid BG HELP */
.grid-bg-help {
  background-color: #CCC;
}

/* Columns */
.col {
  position: relative;
  float:left;
}

// Grid Functionality
$m-gutter: 1.6%;
$max-cols: 12;

@function calc-col($cols, $cs) {
  $scw: (100 - ($m-gutter * ($cols - 1))) / $cols;
  $cw: ($scw * $cs) + ($m-gutter * ($cs - 1));
  @return $cw;
}

@for $i from 1 through $max-cols {
  .m-#{$i} {
    //width: ((100 / $max-cols) * $i) * 1%;
    width: calc-col($max-cols, $i);
  }
}


@media only screen and (max-width: 768px) {
    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        width: auto;
        float: none;
    }

    .col + .col {
        margin-left: 0;
    }
}
/* Gutters */
.col + .col {
  margin-left: $m-gutter;
}


/* HELPER CSS */
.grid_help {
  background: url('../images/12_col.gif') center top repeat-y;
  background-size: contain;
  height: 100%;
}
.developer_helper {
  background-color: #FFF;
}
