/*** MENU ***/

.menu-wrapper {
    @include bs(border-box);
    padding: 0;
    margin: 1.6% 0 40px 0;
    width: 100%;
    position: relative;
}

.top {
    height: 220px;
    width: 100%;
    z-index: -1;
    background-color: $white;
    box-shadow: 1px 1px 2px 1px $dgrey;
}

.primary-headings {
    width: 80%;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: space-between;
    h1 {
        flex: 1;
        align-self: flex-start;
        text-align: left;
    }
    h2 {
        flex: 1;
        align-self: flex-end;
        text-align: right;
    }
}
.main-menu a {
    color: $darkblueOpace;
}
.responsive-menu,
.footer-menu {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    nav {
        width: 100%;
        ul {
            list-style: none;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
            li {
                width: 1/5 * 100%;
                flex: 1;
                text-align: center;
                a {
                    font-family: $fonts;
                }
                .desktop-logo{
                    max-width: 170px !important;
                }
                .logo {
                    flex: 1 1 auto;
                    z-index: -2;
                }
            }
        }
    }
}

.footer-menu nav ul li {
    align-self: center;
    img {
        max-width: 90px;
        height: auto;
    }
    a:last-child {
        color: $darkblueOpace;
    }
}




/*** media query ***/

@media screen and (max-width: 767px) {
    .top {
        margin-top: 15px;
        height: 270px;
        position: absolute;
    }
    .mobile-logo {
        display: block;
        margin-top: 30px;
        width: 140px;
        height: auto;
    }
    .logo, .logo-bottom {
        display: none;
    }
    .responsive-menu {
        @include transfrm(all, 0.4s);
        position: fixed;
        top: -140%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-top: 45px;
        background: $darkblueOpace;
        nav {
            ul {
                flex-flow: column !important;
                padding: 0;
                li:first-child {
                    margin-top: 20px;
                }
                li {
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    a {
                        font-size: 2em;
                        color: $white;
                        text-decoration: none;
                        display: block;
                        text-align: center;
                        &:hover {
                            color: $orange;
                            background-color: $turqoise;
                        }
                    }
                }
                .active a {
                    color: $orange;
                    &:hover {
                        color: #fafafa;
                        background-color: $turqoise;
                    }
                }
            }
        }
    }
    input[type=checkbox] {
        position: absolute;
        left: -9999px;
    }
    .menu-icon {
        display: inline-block;
        z-index: 9999;
        text-decoration: none;
        position: fixed;
        top: 20px;
        right: 2%;
        font-size: 3em;
        color: $orange;
        &:hover {
            cursor: pointer;
        }
    }
    #toggle {
        display: none;
        /*hide */
        &:checked + .responsive-menu {
            top: 0;
        }
    }
    .primary-headings {
        width: 80%;
        margin-top: -10px;
        flex-flow: column;
        h2 {
            margin: 0;
            text-align: left;
            align-self: flex-start;
        }
    }
    .menu-item {
        order: 2;
        ul {
            align-items: center;
            flex-flow: column;
            li a {
                font-size: 2em;
            }
        }
    }
    .footer-menu {
        nav ul {
            display: block;
            .menu-item {
                display: block;
                width: 100%;
                padding: 20px 0;
                a {
                    font: normal 1.2em/150% $fonts;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .primary-headings {
        width: 90%;
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1em;
        }
    }
    .responsive-menu {
        width: 90%;
    }
    .logo {
        flex: 1 1 auto;
    }
}

@media screen and (min-width: 768px) {
    .mobile-logo {
        display: none;
    }
    .top {
        position: absolute;
    }
    .menu-item a {
        font-size: 1.2em;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    input[type=checkbox],
    .menu-icon {
        display: none;
    }
}
