#portfolio {
    
    figure {
        padding: 0;
        margin: 0;
    }
    input {
        height: 20px;
        margin-bottom: 15px;
        width: 50%;
    }
}

.prislista {
    font: 14px 'Roboto', sans-serif;
    figure {
        padding: 0;
        margin: 0;
    }
    input {
        height: 20px;
        margin-bottom: 15px;
        width: 50%;
    }
}

#prislista {
    text-align: center;
}

.prislista {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 10% 0;
    button {
        background-color: $turqoise;
        border: 0;
        border-radius: 6px;
        color: white;
        height: 30px;
        margin-top: 10px;
        width: 50%;
    }
}

.buttoncenter {
    text-align: center;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.outerborder1 {
    border: solid 2px $turqoise;
    margin: 5px;
    border-radius: 15px;
    background-color: white;
}

.effect2 {
    position: relative;
    .before .after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(-3deg);
    }
    .after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
}