@mixin bs($size) {
    box-sizing: $size;
    -moz-box-sizing: $size;
    -webkit-box-sizing: $size;
}

@mixin transfrm($prop, $time) {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

$darkblue: rgb(17, 30, 49);
$darkblueOpace: rgba(17, 30, 49, .9);
$orange: rgb(249, 122, 55);
$grey: rgb(204, 204, 204);
$mgrey: rgb(120, 120, 120);
$dgrey: rgb(50, 50, 50);
$turqoise: rgb(80, 187, 203);
$green: rgb(24, 148, 156);
$white: rgb(250, 250, 250);
$facebook: rgb(59, 89, 152);
$twitter: rgb(100, 168, 242);
$linkedin: rgb(0, 122, 181);

$fonts: 'Josefine sans', Roboto, Raleway, sans-serif;

body {font-family: $fonts;color: $darkblueOpace; font-size: 100%;}
h1 {font: normal 2em $fonts;}
h2 {font: normal 1.7em $fonts; text-align: center;}
h3 {font: normal 1.2em $fonts;}
h4 {font: normal 1em $fonts;}
p {font: 1em 'Roboto', sans-serif;}
.facebook {color: $facebook;}
.twitter {color: $twitter;}
.linkedin {color: $linkedin;}

.spacer { float: left; width: 100%; margin-bottom: 80px;}
.rev_slider_wrapper {z-index: 0;margin-top: 11px !important; position: relative;}
.tp-caption {font-family: $fonts !important;}

@import 'menu';
@import 'portfolio';
@import 'contact';
@import 'chat';
@import 'crew';
@import 'general';
