/*=============
 GRID STYLES
 /*=============*/
html,
body {
  height: 100%;
}

/* Base Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Resetting Box Model */
.row,
.column {
  box-sizing: border-box;
  margin-bottom: 10px;
}

.row::before,
.row::after {
  content: '';
  display: table;
}

/* Clearing Floats */
.row:after {
  clear: both;
}

/* Grid BG HELP */
.grid-bg-help {
  background-color: #CCC;
}

/* Columns */
.col {
  position: relative;
  float: left;
}

.m-1 {
  width: 6.86667%;
}

.m-2 {
  width: 15.33333%;
}

.m-3 {
  width: 23.8%;
}

.m-4 {
  width: 32.26667%;
}

.m-5 {
  width: 40.73333%;
}

.m-6 {
  width: 49.2%;
}

.m-7 {
  width: 57.66667%;
}

.m-8 {
  width: 66.13333%;
}

.m-9 {
  width: 74.6%;
}

.m-10 {
  width: 83.06667%;
}

.m-11 {
  width: 91.53333%;
}

.m-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    width: auto;
    float: none;
  }
  .col + .col {
    margin-left: 0;
  }
}

/* Gutters */
.col + .col {
  margin-left: 1.6%;
}

/* HELPER CSS */
.grid_help {
  background: url("../images/12_col.gif") center top repeat-y;
  background-size: contain;
  height: 100%;
}

.developer_helper {
  background-color: #FFF;
}
