figure{
    padding: 0;
    margin: 0;
}
* {
    color: #111E31;
    font: 14px 'Roboto', sans-serif;
}

button {
    background-color: #50BBCB;
    border: 0;
    border-radius: 6px;
    color: white;
    height: 30px;
    margin-top: 10px;
    width: 50%;
}

h2 {
    font: 24px 'Josefin-Sans', sans-serif;
}

h3 {
    font: 18px 'Josefine-Sans', sans-serif;
}


input {
    height: 20px;
    margin-bottom: 15px;
    width: 50%;
}

#portfolio {
    text-align: ce;
}

#storbild {
    text-align: center;


}
#litenbild{
    width:100%;
    height:100%;
}


#message {
    height: 60px;
}



.prislista {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0;
    padding-right: 0;

}

.buttoncenter{
   text-align: center;


}

.responsive-img {
    width: 100%;
    height: auto;
}

.outerborder1{
    border: solid 2px #50BBCA;
    margin: 5px;
    border-radius: 15px;
    background-color: white;
    
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}