body {
  font-family: "Josefine sans", Roboto, Raleway, sans-serif;
  color: rgba(17, 30, 49, 0.9);
  font-size: 100%;
}

h1 {
  font: normal 2em "Josefine sans", Roboto, Raleway, sans-serif;
}

h2 {
  font: normal 1.7em "Josefine sans", Roboto, Raleway, sans-serif;
  text-align: center;
}

h3 {
  font: normal 1.2em "Josefine sans", Roboto, Raleway, sans-serif;
}

h4 {
  font: normal 1em "Josefine sans", Roboto, Raleway, sans-serif;
}

p {
  font: 1em 'Roboto', sans-serif;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #64a8f2;
}

.linkedin {
  color: #007ab5;
}

.spacer {
  float: left;
  width: 100%;
  margin-bottom: 80px;
}

.rev_slider_wrapper {
  z-index: 0;
  margin-top: 11px !important;
  position: relative;
}

.tp-caption {
  font-family: "Josefine sans", Roboto, Raleway, sans-serif !important;
}

/*** MENU ***/
.menu-wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 1.6% 0 40px 0;
  width: 100%;
  position: relative;
}

.top {
  height: 220px;
  width: 100%;
  z-index: -1;
  background-color: #fafafa;
  box-shadow: 1px 1px 2px 1px #323232;
}

.primary-headings {
  width: 80%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

.primary-headings h1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: left;
}

.primary-headings h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  text-align: right;
}

.main-menu a {
  color: rgba(17, 30, 49, 0.9);
}

.responsive-menu,
.footer-menu {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

.responsive-menu nav,
.footer-menu nav {
  width: 100%;
}

.responsive-menu nav ul,
.footer-menu nav ul {
  list-style: none;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.responsive-menu nav ul li,
.footer-menu nav ul li {
  width: 20%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.responsive-menu nav ul li a,
.footer-menu nav ul li a {
  font-family: "Josefine sans", Roboto, Raleway, sans-serif;
}

.responsive-menu nav ul li .desktop-logo,
.footer-menu nav ul li .desktop-logo {
  max-width: 170px !important;
}

.responsive-menu nav ul li .logo,
.footer-menu nav ul li .logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: -2;
}

.footer-menu nav ul li {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.footer-menu nav ul li img {
  max-width: 90px;
  height: auto;
}

.footer-menu nav ul li a:last-child {
  color: rgba(17, 30, 49, 0.9);
}

/*** media query ***/
@media screen and (max-width: 767px) {
  .top {
    margin-top: 15px;
    height: 270px;
    position: absolute;
  }
  .mobile-logo {
    display: block;
    margin-top: 30px;
    width: 140px;
    height: auto;
  }
  .logo, .logo-bottom {
    display: none;
  }
  .responsive-menu {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    position: fixed;
    top: -140%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 45px;
    background: rgba(17, 30, 49, 0.9);
  }
  .responsive-menu nav ul {
    -webkit-flex-flow: column !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
    padding: 0;
  }
  .responsive-menu nav ul li:first-child {
    margin-top: 20px;
  }
  .responsive-menu nav ul li {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }
  .responsive-menu nav ul li a {
    font-size: 2em;
    color: #fafafa;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .responsive-menu nav ul li a:hover {
    color: #f97a37;
    background-color: #50bbcb;
  }
  .responsive-menu nav ul .active a {
    color: #f97a37;
  }
  .responsive-menu nav ul .active a:hover {
    color: #fafafa;
    background-color: #50bbcb;
  }
  input[type=checkbox] {
    position: absolute;
    left: -9999px;
  }
  .menu-icon {
    display: inline-block;
    z-index: 9999;
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 2%;
    font-size: 3em;
    color: #f97a37;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  #toggle {
    display: none;
    /*hide */
  }
  #toggle:checked + .responsive-menu {
    top: 0;
  }
  .primary-headings {
    width: 80%;
    margin-top: -10px;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .primary-headings h2 {
    margin: 0;
    text-align: left;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .menu-item {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu-item ul {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .menu-item ul li a {
    font-size: 2em;
  }
  .footer-menu nav ul {
    display: block;
  }
  .footer-menu nav ul .menu-item {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .footer-menu nav ul .menu-item a {
    font: normal 1.2em/150% "Josefine sans", Roboto, Raleway, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .primary-headings {
    width: 90%;
  }
  .primary-headings h1 {
    font-size: 1.5em;
  }
  .primary-headings h2 {
    font-size: 1em;
  }
  .responsive-menu {
    width: 90%;
  }
  .logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media screen and (min-width: 768px) {
  .mobile-logo {
    display: none;
  }
  .top {
    position: absolute;
  }
  .menu-item a {
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  input[type=checkbox],
  .menu-icon {
    display: none;
  }
}

#portfolio figure {
  padding: 0;
  margin: 0;
}

#portfolio input {
  height: 20px;
  margin-bottom: 15px;
  width: 50%;
}

.prislista {
  font: 14px 'Roboto', sans-serif;
}

.prislista figure {
  padding: 0;
  margin: 0;
}

.prislista input {
  height: 20px;
  margin-bottom: 15px;
  width: 50%;
}

#prislista {
  text-align: center;
}

.prislista {
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 10% 0;
}

.prislista button {
  background-color: #50bbcb;
  border: 0;
  border-radius: 6px;
  color: white;
  height: 30px;
  margin-top: 10px;
  width: 50%;
}

.buttoncenter {
  text-align: center;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.outerborder1 {
  border: solid 2px #50bbcb;
  margin: 5px;
  border-radius: 15px;
  background-color: white;
}

.effect2 {
  position: relative;
}

.effect2 .before .after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.effect2 .after {
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#contact form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

#contact form button {
  background-color: #f97a37;
  border: 0;
  border-radius: 6px;
  color: #fafafa;
  height: 30px;
  margin-top: 10px;
  width: 100%;
}

#contact form input {
  height: 25px;
  margin-bottom: 0 auto 15px auto;
  width: 100%;
}

#contact form textarea {
  overflow-y: scroll;
  width: 100%;
}

#contact p {
  color: #111e31;
}

@media screen and (min-width: 552px) {
  #contact form button,
  #contact form input,
  #contact form textarea {
    width: 80%;
  }
}

.chat-container {
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: #FFF;
  width: 300px;
  height: 30px;
}

.chat-container .chat-link {
  font-size: 1em;
  color: #FFF;
  background-color: #111e31;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  height: 30px;
  display: block;
}

.chat-container .chat-link i.material-icons {
  float: right;
  margin-right: 15px;
}

.chat-container #chat {
  height: 0;
}

#crew h2 {
  text-align: center;
}

#crew p {
  color: #323232;
}

#crew .effect6 {
  position: relative;
  /*  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

#crew .effect6:before,
#crew .effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 47%;
  bottom: 0;
  left: 5px;
  right: 15px;
  border-radius: 100px/10px;
}

#crew .image {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
  height: 170px;
  width: 170px;
  overflow: hidden;
  display: block;
}

#crew .image figure {
  margin: 0;
  padding: 20px;
}

#crew .image figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 0;
}

#crew .profile-block {
  background-color: #fcfcfc;
  border-radius: 10px;
  min-height: 170px;
  margin: 40px auto;
  padding: 25px;
}

#crew .profile-block .name h3 {
  text-align: center;
}

#crew .row {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}
